@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<Luval.GoalTracker.Entities.HabitDefinition>
@{

    ViewData["Title"] = "Goal Tracker";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
<link rel="stylesheet" href="~/lib/luval.goaltracker/goaltracker.css" asp-append-version="true">
}
@section Scripts{
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js" integrity="sha256-Y26AMvaIfrZ1EQU49pf6H4QzVTrOI8m9wQYKkftBt4s=" crossorigin="anonymous"></script>
<script src="~/lib/luval.goaltracker/goaltracker.js" asp-append-version="true"></script>
<script>
    $(document).ready(function () {
        goaltracker.init();
        goaltracker.runCharts();
    });
</script>
}
<div class="row">
    <div class="col">
        <h1>Goal Tracker</h1>
        <hr />
        <table class="table table-hover">
            @foreach (var m in Model)
            {
                <tr>
                    <td>
                        <input type="hidden" data-item="@m.Id" value="@Html.Raw(string.Join(',', new [] { m.WeeklyProgress.ToString(), m.MonthlyProgress.ToString(), m.YearlyProgress.ToString() }))" />
                        <div class="row">
                            <div class="col">
                                @m.Name
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="chart-size">
                                    <canvas id="chart-@m.Id"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="row row-pad">
                            <div class="col">
                                <a href="/GoalTracker/Add/@m.Id" class="btn btn-outline-primary btn-sm btn-w" role="button">Add Entry</a>
                                <a href="/GoalTracker/Overview/@m.Id" class="btn btn-outline-secondary btn-sm btn-w" role="button">View</a>
                                @*<a href="#" class="btn btn-outline-info btn-sm btn-w" role="button" >Edit</a>*@
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
