@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <img class="rounded-circle mx-auto d-block profile-pic" src="https://marind.blob.core.windows.net/blog/media/marin-p.png">
    <h2 class="display-4">Oscar Marin</h2>
    <hr />
</div>
<div class="row">
    <div class="col">
        <p class="lead">Father of two wonderful girls, passionate about technology and how to build a better world for our future generations, in which automation works along side humans to maximize our potential. </p>
        <p class="lead">I have spent most of my professional career building software products and consulting for multiple industries, working with very talented individuals, high performing teams and wonderful and demanding clients</p>
        <p class="lead">Sometimes I enjoy writing about topics I found very interesting in my blog, enjoy writing code to try to automation as much of my life as possible and you can find some of my work here and if you want to connect and see the professional trends I like to follow we can connect on LinkedIn</p>
        <form id="logoutForm" class="form-inline" action="@Url.Action("Logout", "Home")" method="post">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </div>
</div>
