
@{
    ViewData["Title"] = "API Console";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/lib/jsoneditor/jsoneditor.min.css?v2" />
}
<h1>API Console</h1>
<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="endpoint">Endpoint</label>
            <input type="text" class="form-control" name="endpoint" id="endpoint" placeholder="Enter api endpoint">
        </div>
        <div class="form-group">
            <div class="form-control">
                <div id="jsoneditor" style="width: 800px; height: 400px;"></div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jsoneditor/jsoneditor.min.js?v2"></script>
    <script>
        // create the editor
        const container = document.getElementById("jsoneditor")
        const options = {
            mode: "view",
            modes: ['code', 'form', 'text', 'tree', 'view', 'preview'],
            onModeChange: function (newMode, oldMode) {
                console.log('Mode switched from', oldMode, 'to', newMode)
            }
        }
        const editor = new JSONEditor(container, options)

        // set json
        const initialJson = {
            "Array": [1, 2, 3],
            "Boolean": true,
            "Null": null,
            "Number": 123,
            "Object": { "a": "b", "c": "d" },
            "String": "Hello World"
        }
        editor.set(initialJson)

        // get json
        const updatedJson = editor.get()
    </script>
}

